@import '../../../styles/base';

.link {
  padding: 15px;
  border-radius: 4px;

  img {
    border-radius: 4px;
    margin-bottom: 15px;
  }

  small {
    text-transform: uppercase;
  }

  &:hover {
    background-color: $grey-100;
  }
}

.header {
  margin-bottom: 0px;
  color: $black;
  font-size: $font-md;
  font-weight: 600;
}

.excerpt {
  margin: 10px 0 0;
}