@import '../../../styles/lib';

.FloatingButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($theme-colors, "secondary");
  color: $grey-100;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background: map-get($theme-colors, "secondary-dark");
  }
}