@import '../../../styles/lib';

.demo {
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    color: $grey-700;
  }

  i {
    color: $grey-500;

    &:hover {
      color: $grey-800;
    }
  }
}

.container {
  border: 2px dashed $grey-200;
  padding: 20px;
}