@import '../../../styles/lib';

.tag {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05s);
  color: $grey-400;
  font-size: $font-xs;
  padding: 2px 8px;
  border-radius: 40px;
  text-align: center;

  &:global(.danger) {
    background: rgba(231, 76, 60, 0.2);
  }
}