@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;

  @include breakpoint(xs) {
    font-size: $font-lg;
  }
}

h1,
h3,
p {
  margin: 0 0 0.3em;
}

h2 {
  font-weight: 300;
}

h3 {
  font-size: $font-md;
}

p, 
li, 
td {
  font-size: $font-sm;
  color: $grey-700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: $font-sm;
}

a {
  color: map-get($theme-colors, secondary-dark);
  text-decoration: none;
  
  &:not(:global(.no-hover)):hover {
    text-decoration: underline;
    color: $black;
  }
}

i:hover {
  cursor: pointer;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: $font-sm;
  margin: 1rem 0;
}

.dark,
.image {
  h1,
  h2,
  h3 {
    color: white;
  }

  pre {
    background: rgba(255, 255, 255, 0.15);
  }

  code {
    color: white;
  }

  p, li {
    color: rgba(255, 255, 255, 0.8);
  }

  a {
    &:not(:global(.no-hover)):hover {
      text-decoration: underline;
      color: map-get($theme-colors, secondary-dark);
    }
  }
}