$theme-colors: (
  "primary": #e74c3c,
  "primary-dark": #c0392b,
  "secondary": #68D1EA,
  "secondary-dark": #01b7ee
);

$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #9ba3ab;
$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;
$black: #1E1313;

$shadow-0: 0 1px 1px rgba(51, 51, 51, 0.1);
$shadow-1: 0 1px 2px rgba(51, 51, 51, 0.15);
$shadow-2: 0px 2px 7px 0px rgba(51, 51, 51, 0.18);

$font-xs: 12px;
$font-sm: 16px;
$font-md: 24px;
$font-lg: 40px;
$font-xl: 64px;

$github: #24292E;
$behance: #0157FF;
$linkedin: #0177B5;

$modal-md: 600px;
$modal-sm: 400px;