@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'lib';
@import 'typography';
@import 'animate';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}
