@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'variables';
@import 'typography';
@import 'animate';
@import 'mixins';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
