@import '../styles/base';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info {
  text-align: center;

  img {
    height: 100px;
    @include animate('fadeIn');
  }

  h1 {
    margin: 0;
    @include animate('fadeInUp');
  }
}

.subheader {
  margin-top: 1rem;
  font-size: $font-md;
  @include animate('fadeInUp');
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  @include animate('fadeInUp', 0.3s);

  li {
    padding: 0 25px;
    font-size: $font-sm;
  }
}