@import "../styles/lib";

.container {
  display: flex;
  margin-top: 2rem;

  @include breakpoint(xs) {
    flex-direction: column;
  }

  & > div {
    flex: 1;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    margin: 0;
    color: white;
  }
}

.subheader {
  margin-top: 0.75rem;
  font-size: $font-md;
  color: white;
}

.email {
  margin-top: 0.75rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  & > div:nth-child(1) {
    grid-column: 1 / span 2;

    @include breakpoint(xs) {
      grid-column: 1 / span 1;
    }
  }

  @include breakpoint(xs) {
    grid-template-columns: auto auto;
    margin-top: 2rem;
  }

  .arrow {
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s;
  }

  .linkWrapper {
    background-color: map-get($theme-colors, secondary-dark);
    padding: 15px;
    color: white;
    font-size: $font-xl;
    font-weight: 600;
    height: 140px;
    line-height: 1;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    img {
      height: 35px;
    }

    span {
      font-size: $font-sm;
    }

    &:hover {
      transform: scale(1.05);

      .arrow {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    &:global(.link1) {
      background-color: $github;
    }

    &:global(.link2) {
      background-color: $linkedin;
    }

    &:global(.link3) {
      background-color: map-get($theme-colors, primary);
    }

    &:global(.link4) {
      background-color: map-get($theme-colors, secondary);
    }

    &:global(.link5) {
      background-color: $behance;
    }
  }
}

.linkText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
