@import '../../styles/lib';

.date {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.title {
  text-align: center;

  h1 {
    color: map-get($theme-colors, secondary-dark);
  }
}

.content {
  p,
  pre {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem; 
  }

  h2:not(:first-child) {
    margin-top: 1.5rem;
  }

  a {
    color: map-get($theme-colors, primary);
  }
}