.date {
  margin: 0.75rem 0 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.header {
  text-align: center;
}

.content {
  margin-top: 2rem;

  p,
  pre {
    margin-bottom: 1rem;
  }
}