@import '../../../styles/lib';

.banner {
  width: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;

  h1,
  h2 {
    color: $grey-100;
    margin-bottom: 0;
  }
}

.default {
  background: map-get($theme-colors, primary);
}

.secondary {
  background: map-get($theme-colors, secondary-dark);
}