@import '../../styles/lib';

.container {
  padding: 50px 10px;
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: flex-end;

  li {
    margin: 0;
  }
}

.menu {
  display: flex;
}

.logo {
  height: 80px;
  margin: 0 40px;
}

.link {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: $font-sm;
  color: $grey-900;
  font-weight: 600;
  margin: 0 40px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.2s;

  @include breakpoint(xs) {
    margin: 0 20px;
  }

  img {
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0);
  }

  &:hover,
  &:global(.active) {
    span {
      border-bottom: 2px solid map-get($theme-colors, primary);
      color: map-get($theme-colors, primary);
    }

    img {
      border: 5px solid $grey-800;
    }
  }
}

:global(.dark) {
  .link {
    color: $grey-500;
  }
}