@import '../../../styles/lib';

.container {
  position: fixed;
  background: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
  @include animate('fadeIn', .5s, 3.5s);
}

.background {
  height: 100%;
  width: 100%;
  animation: movingImage 30s infinite  normal ease-in-out;
}

.credit {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: $grey-500;
  font-size: $font-xs;
  padding: 2px 8px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05s);

  @include breakpoint(xs) {
    display: none;
  }
}

@keyframes movingImage {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}