@import '../../../styles/base';

.link {
  padding: 20px;
  transition: 0.2s;
  display: block;

  small {
    text-transform: uppercase;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.header {
  margin-bottom: 0px;
  color: white;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.1;
}

.excerpt {
  margin: 10px 0 0;
}
