@import '../../../styles/base';

.link {
  min-height: 320px;
  padding: 15px;
  transition: 0.2s;
  display: block;
  background: map-get($theme-colors, secondary-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @include breakpoint(xs) {
    min-height: 0;
  }

  small {
    text-transform: uppercase;
    color: white;
    opacity: 0.75;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.header {
  margin-bottom: 0px;
  color: white;
  font-size: $font-lg;
  font-weight: 800;
  line-height: 1.1;
}

.excerpt {
  margin: 6px 0 0;
}

.postInfo {
  display: flex;
  justify-content: space-between;

  @include breakpoint(xs) {
    margin-top: 30px;
  }
}

.date {
  color: white;
  text-transform: uppercase;
  font-size: $font-sm;
  font-weight: 700;
  opacity: 0.65;
}